.overflow-main {
    width: 500px;
    height: 500px;
    background-color: burlywood;
    margin: 20px;
    padding: 10px;

    /* hidden, scroll, auto, visible
    visibility show the overflow content
    overflow: visible;

    hide the overflowing content
    overflow hidden */
overflow: auto;
}
.mes {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
:root {
    font-size: 20px;
}

.div-1 {
    font-size: 10px;
    width: 4em;
    height: 4em;
    background-color: blue;
}
.div-2 {
    
}